jupyterhub
scikit-learn
ipydrawio
jupyterlab
scipy
--extra-index-url https://pypi.nvidia.com tensorrt-bindings==8.6.1 tensorrt-libs==8.6.1
tensorflow[and-cuda]
fastai
keras
datasets
gradio==3.44.4
#accelerate
#appdirs
#loralib
#bitsandbytes
#black
#black[jupyter]
#fire
#git+https://github.com/huggingface/peft.git
#transformers>=4.28.0
#sentencepiece
